<template>
  <h1 class="title">桑娜牌地圖解析裝置</h1>
  <div class="row">
    <div class="col-auto">
      <div
        ref="refDropzone"
        class="dropzone"
        @dragover="onZoneDragover"
        @dragleave="onZoneDragleave"
      >
        <div class="text">選擇檔案</div>
        <input class="input" type="file" accept=".dat" @change="onFileChange" />
      </div>
      <div class="info-list">
        <div
          class="info"
          :style="{ color: info.color }"
          v-for="(info, idx) in infoList"
          :key="idx"
        >
          {{ info.text }}
        </div>
      </div>
    </div>
    <div class="col-auto">
      <div class="map">
        <div class="map-inner">
          <div class="map-row" v-for="(row, rIdx) in unitList" :key="rIdx">
            <div
              class="map-col"
              :class="[`color${col}`]"
              v-for="(col, cIdx) in row"
              :key="cIdx"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dec">
    檔案位置: C:\Program Files (x86)\CGoriginmood\Assets\map\1\12
  </div>
  <div class="dec">照修改時間排序找最新的檔案</div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

declare interface Info {
  text: string;
  color: string;
}

export default defineComponent({
  name: 'PageIndex',
  components: {},
  setup() {
    const refDropzone = ref<HTMLDivElement>();

    /** 解析後資訊 */
    const infoList = ref<Info[]>([]);

    /** 解析後地圖單元(二維) */
    const unitList = ref<number[][]>([]);

    /** 是否解析錯誤 */
    const isError = ref(false);

    const onZoneDragover = () => {
      (refDropzone.value as HTMLDivElement).classList.add('hover');
    };

    const onZoneDragleave = () => {
      (refDropzone.value as HTMLDivElement).classList.remove('hover');
    };

    const onFileChange = async (e: Event) => {
      onZoneDragleave();

      const files = (e.target as HTMLInputElement).files;
      if (!files?.length) {
        return;
      }

      const dataView = await readFile(files[0]);

      (e.target as HTMLInputElement).value = '';

      if (!isError.value) {
        parseResult(dataView);
      }
    };

    const readFile = (file: File): Promise<DataView> => {
      return new Promise((resolve) => {
        const reader = new FileReader();
        let fileType = '';

        reader.readAsArrayBuffer(file);
        reader.onload = () => {
          const dataView = new DataView(reader.result as ArrayBuffer);
          fileType += String.fromCharCode(dataView.getUint8(0));
          fileType += String.fromCharCode(dataView.getUint8(1));
          fileType += String.fromCharCode(dataView.getUint8(2));

          if (fileType === 'MAP') {
            infoList.value = [
              {
                text: `${file.name}`,
                color: '#000',
              },
            ];
            isError.value = false;
          } else {
            infoList.value = [
              {
                text: '發生錯誤',
                color: '#900',
              },
            ];
            isError.value = true;
          }
          resolve(dataView);
        };
      });
    };

    const parseResult = (dataView: DataView) => {
      // 地圖解析
      // http://cgsword.com/filesystem_graphicmap.htm#mapdat

      unitList.value = [];

      const mapWidth = dataView.getUint16(12, true);
      const mapHeight = dataView.getUint16(16, true);
      const mapArea = mapWidth * mapHeight;

      infoList.value = [
        ...infoList.value,
        {
          text: `大小: ${mapWidth}x${mapHeight}`,
          color: '#000',
        },
      ];

      const n = mapArea * 2;

      for (let south = 0; south < mapHeight; south++) {
        const list: number[] = [];
        for (let east = 0; east < mapWidth; east++) {
          const o = (east + south * mapWidth) * 2 + n * 2 + 20;
          const u = o - n;
          const i = dataView.getUint16(o, true);
          switch (i) {
            case 0:
              // 無地圖
              list.push(0);
              break;
            case 49152:
              // 可移動
              if (dataView.getUint8(u - n) === 100) {
                list.push(0);
              } else {
                list.push(1);
              }
              break;
            case 49155:
              // 可傳送
              const stairType = getStairType(dataView.getUint16(u, true));
              switch (stairType) {
                case 'up':
                  list.push(21);
                  break;
                case 'down':
                  list.push(22);
                  break;
                case 'jump':
                  list.push(23);
                  break;
                default:
                  list.push(20);
                  break;
              }
              infoList.value = [
                ...infoList.value,
                {
                  text: `${
                    stairType === 'up'
                      ? '上樓'
                      : stairType === 'down'
                      ? '下樓'
                      : '傳送'
                  }: (${east}, ${south})`,
                  color:
                    stairType === 'up'
                      ? '#0a0'
                      : stairType === 'down'
                      ? '#00f'
                      : '#aa0',
                },
              ];
              break;
            case 49154:
              // 怪物
              list.push(3);
              break;
            default:
              // 其他
              list.push(9);
              console.log(i);
              break;
          }
        }
        unitList.value = [...unitList.value, list];
      }
    };

    const getStairType = (u: number) => {
      if (
        [
          12000, 12001, 13268, 13270, 13272, 13274, 13996, 13998, 15561, 15887,
          15889, 15891, 17952, 17954, 17956, 17958, 17960, 17962, 17964, 17966,
          17968, 17970, 17972, 17974, 17976, 17978, 17980, 17982, 17984, 17986,
          17988, 17990, 17992, 17994, 17996, 17998, 16610, 16611, 16626, 16627,
          16628, 16629,
        ].includes(u)
      ) {
        return 'up';
      }

      if (
        [
          12002, 12003, 13269, 13271, 13273, 13275, 13997, 13999, 15562, 15888,
          15890, 15892, 17953, 17955, 17957, 17959, 17961, 17963, 17965, 17967,
          17969, 17971, 17973, 17975, 17977, 17979, 17981, 17983, 17985, 17987,
          17989, 17991, 17993, 17995, 17997, 17999, 16612, 16613, 16614, 16615,
        ].includes(u)
      ) {
        return 'down';
      }

      if ([14676, 0].includes(u)) {
        return 'jump';
      }

      return 'unknown';
    };

    return {
      refDropzone,

      infoList,
      unitList,

      onZoneDragover,
      onZoneDragleave,
      onFileChange,
    };
  },
});
</script>

<style lang="scss" scoped>
.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  margin: 10px;
}
.dec {
  margin: 10px;
}
.dropzone {
  position: relative;
  border: 5px dotted #060;
  border-radius: 20px;
  color: #060;
  font: bold 20px/80px arial;
  height: 80px;
  margin: 10px;
  text-align: center;
  width: 120px;

  &.hover {
    border: 5px solid #0c0;
    color: #0c0;
  }

  .text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .input {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.info-list {
  margin: 10px;
}

.map {
  font-size: 0;
  transform-origin: center;
  transform: scaleY(0.6) translate(25%);
  .map-inner {
    transform: rotate(-45deg);
    .map-row {
      white-space: nowrap;
      .map-col {
        display: inline-block;
        font-size: 12px;
        width: 8px;
        height: 8px;
        &.color0 {
          background-color: #000;
        }
        &.color1 {
          background-color: #ccc;
        }
        &.color21 {
          background-color: #0a0;
        }
        &.color22 {
          background-color: #00f;
        }
        &.color23 {
          background-color: #aa0;
        }
        &.color20 {
          background-color: #aa0;
        }
        &.color3 {
          background-color: #c00;
        }
      }
    }
  }
}
</style>
